* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url("https://static.vecteezy.com/ti/vetor-gratis/p1/691489-icones-de-tesoura-de-papel-de-pedra-offset-retro-vetor.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttons {
    margin: 30px;
    display: flex;
    gap: 40px;
}

button {
    padding: 10px;
    font-size: 50px;
    cursor: pointer;
    border: none;
    border-radius: 15px;
    transition: opacty 0.5s ease-in-out;
}

button:hover {
    opacity: 0.8;
}

#rock {
    background-color: #A28B55;
}

#paper {
    background-color: #86AB89;
}

#scissors {
    background-color: #CBE2B5;
}

p {
    font-weight: bold;
    margin-bottom: 10px;
}

.your-score span {
    color: #A28B55;
}

.machine-score span {
    color: #86AB89;
}